<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>注册</title>
<meta name="description" content=""/>

<link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<!--navigation-->
<section class="bh-white py-3">
<div class="container-fluid">
	<div class="row">
		<div class="col-12 text-center">
			<a href="register.html" class="heading-brand text-primary">注册</a>
		</div>
	</div>
</div>
</section>

<!--hero header-->
<section class="py-5">
<div class="container">
	<div class="row">
		<div class="col-md-7 my-md-auto">
			<h1 class="text-center text-md-left">Welcome to join our website, this website is designed to learn and watch, all commercial use is prohibited</h1>
			<div class="row feature-grid">
				<div class="col-sm-6">
					<div class="media">
						<div class="icon-box">
							<div class="icon-box-inner">
								<span data-feather="unlock" width="28" height="28"></span>
							</div>
						</div>
						<div class="media-body">
							想学数据分析?
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="media">
						<div class="icon-box">
							<div class="icon-box-inner">
								<span data-feather="briefcase" width="28" height="28"></span>
							</div>
						</div>
						<div class="media-body">
							想体验python的强大?
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="media">
						<div class="icon-box">
							<div class="icon-box-inner">
								<span data-feather="gift" width="28" height="28"></span>
							</div>
						</div>
						<div class="media-body">
							想和最菜的团队一起开发?
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="media">
						<div class="icon-box">
							<div class="icon-box-inner">
								<span data-feather="users" width="28" height="28"></span>
							</div>
						</div>
						<div class="media-body">
							从入门到放弃?
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 pl-md-5">
			<div class="card">
				<div class="card-body py-md-4">
					<h2>Get early access</h2>
					<p class="lead text-muted">We're in private team Development.</p>
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<div class="form-group">
							<input type="inviteCode" class="form-control" id="invite-code" placeholder="Invite Code">
						</div>
						<div class="d-flex flex-row align-items-center justify-content-between">
							<a href="#">Need invite code?</a>
							<button class="btn btn-primary">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<!--footer-->
<footer>
<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">About</a></li>
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
			</ul>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-4 mx-auto text-muted text-center small-xl">Copyright &copy; 2020 LingNan Course Design to web 菜鸡小队.<a target="_blank" href=""></a></div>
	</div>
</div>
</footer>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
